
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>

    <h1>Index</h1>
    <p>ma huh het is @DateTime.Now.ToShortTimeString()</p>
</body>
</html>

